langchain==0.3.1
langchain-community==0.3.1
langchain-groq==0.2.0
python-dotenv==0.21.0
streamlit==1.39.0
chromadb==0.5.11
unstructured==0.14.6
pandas==2.2.2
selenium==4.21.0
protobuf==3.20.3  
sqlite3==3.39.2
